{% extends "GalleryBundle::Master/template.html.twig" %}

{% block title %}Picture{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block nav %}
	{% for key,value in menu %}
		<li><a href="{{ value }}">{{ key }}</a></li>
	{% endfor %}
{% endblock %}

{% block content %}

    <h1>{{ picture.name }}</h1>
    <img src="{{ asset(picture.filename, absolute=true) }}" alt="{{ picture.name|e }}" />
    <p> Description: {{ picture.description }}</p>
 
{% endblock %}
